html, body {margin: 0; padding: 0; border: 0;}

body {
color: #000; 
background-color: #4682B4; 
font-family: arial, verdana, sans-serif; 
font-size: 80%; 
text-align: center;
margin: 20px;
}

h1 {font-size: 26px; margin: 0; font-weight:bold; color: #fff; padding: 15px}

h2 {font-size: 16px; text-align: center; padding: 5px;}

h3 {font-size: 16px; text-align: center; padding: 8px; letter-spacing: 0.04cm}

p  {font-size: 14px; margin: 0; padding: 8px;  text-align: justify; }

p.addr {font-size: 12px; padding: 8px; font-weight:bold; color: green}

.italic {font-style: italic}


ul {font-size: 14px; list-style-type: square;}
li {font-size: 14px; list-style-type: square;}

.red {color: red}
.blue {color: blue}
.green {color: green}
.yellow {color: yellow}



.clear { clear: both; }

p.menu {
font-size: 14px;
text-align:center;
padding: 10px; 

}

a {text-decoration: none}


a.menu:link {color: white} 
a.menu:visited {color: white}
a.menu:hover {color: #aa5500}
a.menu:active {color: white}


a:link {color: #cc0000} 
a:visited {color: #cc0000}
a:hover {color: #ff6600}
a:active {color: #cc9999}

.alignleft{text-align:left}
.alignright {margin-top: 0; text-align: right;}
.aligncenter {text-align: center}

.small {font-size: 1em}

.wrapper {
margin: 0 auto;
width: 840px;
text-align: left;
background: #fff;

border-width: 1px 1px 1px 1px;
border-style: solid;
border-color: #fff;
}

/*** It fixes the box model of IE5.x/win, making it display the same as other browsers. ***/

* html .wrapper {
width: 850px; 
}

.outer {
border-left: 150px solid #ffcc00; #009966;
border-right: 0px solid #000;
}
/*** These are the visible side col BG's ***/

* html .outer {
}

.inner {
margin-left: 0px; /*** This fixes a small overlap problem in IE6. ***/
width: 150px; /*** This width is for non-IE browsers. Mozilla makes this necessary. ***/
border-style: solid;
border-color: #ccc;
border-width: 0 0 0 0px;
}
* html .inner {
width: 100%;
}

.float-wrap {
float: left;
width: 820px;
margin-left: -150px;       /*** Same length as left column width ***/
}

/*** div.left is in div.float-wrap, and when div.float-wrap is neg margined to the left, 
div.left is carried over into the proper position. 
***/

.left {
float: left;
width: 150px;
position: relative; /*** IE needs this or the contents won't show outside the parent container. ***/
}

.right {
float: right; 
width: 0px;
position: relative; /*** IE needs this or the contents won't show outside the parent container. ***/
}

* html .right {
margin: 0 0px 0 0; /*** IE gets this margin. ***/
}

.center {
float: right;
width: 650px;
}
.center2 {
float: right;
width: 650px;
}


.wide {
background-color: #336699;    /* header and footer colours */
background-image:url('img/layout/default_blue.jpg');
background-repeat: 
no-repeat	
background-position:right;

width: 100%; 
border: 1px solid #888;
}

.wide p {padding: 1px;}

.top {border-width: 0 0 0 0; border-color: #165189 }

.bottom {border-width: 1px 0 0;}

/* Mozilla bug fixes */
html>body .inner, html>body .float-wrap {
border-bottom: 1px solid transparent;
}
/* 1:26 AM 12/10/2004*/